@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 28 100% 95%;
    --foreground: 24 10% 10%;
    --card: 28 100% 95%;
    --card-foreground: 24 10% 10%;
    --popover: 28 100% 95%;
    --popover-foreground: 24 10% 10%;
    --primary: 28 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 28 100% 90%;
    --secondary-foreground: 28 100% 50%;
    --muted: 28 100% 90%;
    --muted-foreground: 24 10% 40%;
    --accent: 37 100% 52%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 28 100% 88%;
    --input: 28 100% 88%;
    --ring: 28 100% 50%;
    --chart-1: 28 100% 50%;
    --chart-2: 37 100% 52%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 24 10% 10%;
    --foreground: 28 100% 95%;
    --card: 24 10% 10%;
    --card-foreground: 28 100% 95%;
    --popover: 24 10% 10%;
    --popover-foreground: 28 100% 95%;
    --primary: 28 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 24 10% 15%;
    --secondary-foreground: 28 100% 95%;
    --muted: 24 10% 15%;
    --muted-foreground: 28 100% 90%;
    --accent: 37 100% 52%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 10% 20%;
    --input: 24 10% 20%;
    --ring: 28 100% 50%;
    --chart-1: 28 100% 50%;
    --chart-2: 37 100% 52%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
